

/* Standard media queries */

/* Mobile devices & tablets
@media  (max-width: 767px) {
    body {
        background-color: lightblue;
    }
}

/* small devices */
@media  (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* medium devices */
@media  (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* large devices */
@media  (min-width: 1200px) {
    .container{
        width: 1170px;
    }
} 
/* ---------------------------------------------------------------------------------- */
/* Start Global Rules */
*{
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* End Global Rules */

/* start varibales */
:root{
    --main-color: #3498db;
    --second-color: #2ecc71;
    --third-color: #e74c3c;
}
/* End varibales */

/* Start my Framework */ 
.text-center{
    text-align: center;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* End my Framework */ 
/* Start Header */
.header{
    background-image: url("../Images/header.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    --o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    width: 100%;
    position: relative;

}
.header .overlay{
    width: 100%;
    height: 100%;
    background-color:rgb(2 43 53 / 50%);
    position: absolute;
    top: 0;
    left: 0;
}
.header .overlay h1{
    font-size: 60px;
    font-weight: bold;
    color : #fff;
    margin-top: 100px;
}
.header .overlay .plan{
    border: 4px solid #fff;
    font-size: 25px;
    width: 48%;
    padding: 20px;
    color: #fff;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
@media (max-width:460px){
    .header .overlay h1{
        float: none;
        margin: 80px auto;
        font-size: 40px;
    }
}
@media (max-width:767px){
    .header .overlay .plan{
        float: none;
        margin: 40px auto;
        font-size: 25px;
        width: 80%;
    }
}
/* End Header */